body {
    margin: auto;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.middle {
    background-color: rgba(255,255,255,0.1);
    font-weight: bolder;
    font-size: larger;
    color: white;
    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

.status {
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-family: monospace;
}

.status_item {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.status_name {
    margin: auto 0;
}

.status_icon {
    width: 16px;
    height: 16px;
    margin: 9px;
    padding: 0;
    border-radius: 50%;    
}

.feed {
    display: flex;
    flex-direction: row;
}

.feed_event {
    border: 1px solid #a0a0a0;
    border-radius: 21px;
    width: 150px;
    min-width: 150px;
    height: fit-content;
    padding: 12px;
    margin: 8px;
    text-align: center;
    background: #ebebeb;
    display: flex;
    flex-direction: column;
}

.feed_event_title {
    font-weight: bold;
    font-size: large;
}

.feed_event_desc {
    font-size: small;
}